{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}
        <button type="submit" class="btn btn-primary">{{ registrationForm.submit.vars.label }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
